<%- include('../partials/header') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
<!-- <div id="startScreen"><h1 class="nav" id="startLink"><a href="/cars/all">View the Marketplace</a></h1></div> -->

<div id="startScreen"><a class= "navBar" id="startLink" href="/cars/all">View The Marketplace</a></div>
