<%- include('../partials/header') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
<section id="newCar">
<form id="new-form" action="/cars" method="POST">
  <div id="newForm"><label>Year:</label>
  <input class="new" type="number" name="year">

  <label>Make</label>
  <select class="new" id="makeSelector" name="make">
    <option value="Audi">Audi</option>
    <option value="BMW">BMW</option>
    <option value="Mercedes-Benz">Mercedes-Benz</option>
    <option value="Porsche">Porsche</option>
  </select>

  <label>Model:</label>
  <input class="new" type="text" name="model">

  <label>Price:</label>
  <input class="new" type="text" name="price">

  <label>Miles:</label>
  <input class="new" type="number" name="miles"></div>
<br>
  <div id="addDescription"><label>Description:</label>
  <input class="new" id="desc" type="text" name="description">
  <input class="add" type="submit" value="Add Listing"></div>
</form></section>
